body {
  background-color: rgba(139, 205, 236, 0.35);
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  font-size: 30px;
}

/* Header  */

.header-bar {
  width: 100%;
  background-color: rgba(34, 91, 117, 0.75);
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-company {
  background-image: url("images/toomas-tartes-Yizrl9N_eDA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 800px;
}

.company-name {
  width: 42%;
}

.company-name-click {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  background-image: url("images/Mountains-Silhouette-By-Linnaea-Mallette.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 45px;
  border-radius: 7px;
  margin-left: 10px;
}

.company-name h2 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 2.375rem;
  color: #ffffff;
  padding-left: 10px;
  align-self: stretch;
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .company-name {
    width: 50%;
    padding: 8px 0;
  }

  .company-name h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 460px) {
  .header-bar {
    position: static;
  }

  .company-name {
    width: 32%;
  }

  .main-company {
    height: 650px;
    background-attachment: local;
  }
}

/* Navigation bar  */

nav {
  width: 60%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav ul li {
  font-size: 1.75rem;
  padding-right: 40px;
  font-family: "Amatic SC", cursive;
  align-items: center;
}

nav ul li a {
  color: #ffffff;
}

nav ul li a:hover {
  color: #f2eb46;
  transition: 0.25s ease-out, border 0.1s;
}

.nav-highlight:hover {
  border-bottom: 2px solid #f2eb46;
}

.login {
  border: 1px solid #000000;
  padding: 0 15px;
  border-radius: 5px;
  background-color: rgba(62, 91, 105, 0.7);
}

.login:hover {
  background-color: rgba(242, 235, 70, 0.75);
  color: #000000;
  transition: 0.3s ease-in;
}

.login-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav ul li {
    padding-right: 12px;
    font-size: 1.5rem;
  }

  nav ul li:last-child {
    padding-right: 0;
  }

  nav ul li a:hover {
    color: #ffffff;
  }

  nav ul li a:active {
    color: #f2eb46;
  }

  .nav-highlight:hover {
    border-bottom: none;
  }

  .login {
    display: none;
  }

  .login-mobile {
    display: flex;
    justify-content: flex-start;
    float: right;
    width: 80px;
    color: #ffffff;
    position: relative;
    top: 70px;
    right: 20px;
    border: 1px solid #000000;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: rgba(62, 91, 105, 0.7);
    font-family: "Yanone Kaffeesatz", sans-serif;
  }

  .login-mobile:active {
    background-color: rgba(242, 235, 70, 0.75);
    color: #000000;
    transition: 0.3s ease-in;
  }
}

/* Sign Up section  */

.sign-up_form {
  position: relative;
  top: 315px;
  left: 125px;
  width: 450px;
  background-color: rgba(69, 102, 117, 0.5);
  border-radius: 15px;
  padding: 1rem 2rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.sign-up_offer {
  color: #ffffff;
  text-align: center;
}

.sign-up_offer h3 {
  padding-top: 10px;
  font-size: 2.25rem;
}

.sign-up_offer p {
  font-size: 1.5rem;
  padding-top: 1rem;
  line-height: 1.2;
}

.sign-up_offer span {
  display: block;
  font-size: 1.75rem;
  margin-top: 1rem;
  color: #8bcdec;
}

.button {
  height: 70px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.button a {
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
  align-self: center;
  border: 1px solid gray;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 3px 2px 5px #000000;
}

.button a:hover {
  background-color: rgba(242, 235, 70, 0.75);
  transform: scale(1.08);
  color: #ffffff;
  box-shadow: 3px 2px 5px #000000;
  transition: 0.15s ease-in, background-color 0.5s, color 0.5s;
}

@media only screen and (max-width: 768px) {
  .sign-up_form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 auto;
    width: 350px;
  }

  .button a:hover {
    transform: none;
    background-color: #ffffff;
    color: #000000;
  }

  .button a:active {
    background-color: rgba(242, 235, 70, 0.75);
    color: #ffffff;
    box-shadow: 3px 2px 5px #000000;
    transition: 0.15s ease-in, background-color 0.5s, color 0.5s;
    transition: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 460px) {
  .sign-up_form {
    width: 95%;
  }

  .sign-up_offer h3 {
    display: none;
  }

  .sign-up_offer p {
    margin: 0 auto;
    text-align: justify;
  }

  .login-mobile {
    top: 20px;
  }
}

/* Destinations  */

#destinations {
  height: 100%;
  width: 90%;
  background-image: url("images/kurt-cotoaga-cqbLg3lZEpk-unsplash.jpg");
  background-size: cover;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 5px;
}

#destinations h2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 25px;
}

.offers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-shrink: 1;
  row-gap: 20px;
  padding-top: 30px;
}

.offer-background {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.offer-container {
  width: 30%;
  height: 100%;
}

.offer-container:hover {
  transform: scale(1.02);
  transition: 0.35s ease-out;
  background-color: none;
}

.offer-container img {
  max-width: 90%;
  border-radius: 5px;
  padding-top: 12px;
}

.offer-text-container {
  width: 80%;
  height: 100%;
  text-align: left;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-container h3 {
  font-size: 1.75rem;
}

.offer-description {
  font-size: 1.25rem;
  margin-top: 5px;
}

.offer-price {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding-bottom: 12px;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.offer-price span {
  color: red;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 10px;
}

.more-button a {
  border: 2px solid gray;
  border-radius: 30px;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 1.625rem;
}

.more-button:hover {
  transform: scale(1.06);
  transition: 0.3s ease-out;
}

@media only screen and (max-width: 768px) {
  .offer-container {
    width: 45%;
  }

  .more-button a {
    background-color: rgba(242, 235, 70, 0.75);
    color: #000000;
  }

  .more-button:hover {
    transform: none;
  }

  .more-button a:active {
    background-color: #f2eb46;
    color: #000000;
  }
}

@media only screen and (min-width: 320px) and (max-width: 460px) {
  #destinations {
    border-radius: 0;
    width: 100%;
    margin-top: 35px;
  }

  .offer-background {
    border-radius: 0;
  }

  .offers {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
  }

  .offer-container {
    width: 100%;
  }

  .offer-container:hover {
    transform: none;
  }

  .offer-mobile {
    display: none;
  }

  .offer-price {
    margin-top: 0;
  }

  .button-container {
    align-items: flex-start;
    padding-top: 20px;
  }
}

/* Frequently asked questions section  */

.faq-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.faq-container h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.faq {
  width: 100%;
}

.faq-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.reverse {
  flex-direction: row-reverse;
}

.faq-image-container {
  width: 37%;
}

.faq-image-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center 82%;
}

.faq-qanda {
  width: 60%;
}
.faq-qanda h3 {
  font-size: 1.5rem;
}

.faq-qanda p {
  font-size: 1.25rem;
}

.faq-qanda span {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .faq-image-container {
    display: none;
  }

  .faq-qanda {
    width: 90%;
    text-align: justify;
  }

  .faq-container h2 {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

/* Review section  */

.review-section {
  background-image: url("images/review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
}

.reviews-container {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  padding-top: 100px;
}

.review {
  width: 27%;
  background-color: rgba(59, 58, 58, 0.4);
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-section h2 {
  font-family: inherit;
  font-size: 2.75rem;
  padding-top: 50px;
  text-align: center;
}

.review h3 {
  font-size: 1.75rem;
}

.review p {
  font-size: 1.25rem;
  padding-top: 8px;
}

.review span {
  display: block;
  padding-top: 15px;
  padding-right: 20px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .reviews-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 50px;
  }

  .review {
    width: 100%;
  }
}

/* Subscription to newsletter  */

.newsletter {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}

.newsletter-section {
  margin: 0 auto;
  width: 90%;
}

.newsletter-heading h2 {
  font-size: 2rem;
  padding: 10px 0;
  margin-top: 10px;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 18px;
}

form label {
  font-size: 1.25rem;
}

input[type="email"],
input[type="text"] {
  padding: 2px 5px;
  height: 25px;
  width: 190px;
}

input[type="submit"] {
  font-size: 1.25rem;
  padding: 3px 8px;
  background-color: rgba(242, 235, 70, 0.7);
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: rgb(242, 235, 70);
}

.newsletter-submit {
  align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
  }

  input[type="submit"]:hover {
    background-color: rgba(242, 235, 70, 0.7);
  }

  input[type="submit"]:active {
    background-color: rgb(242, 235, 70);
  }

  .newsletter-submit {
    align-self: flex-start;
  }
}

/* Footer */

footer {
  width: 100%;
  background-color: rgba(34, 91, 117, 0.7);
}

.footer-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-size: 1.25rem;
}

.footer-section h3 {
  padding-right: 0.25em;
}
